/* You can add global styles to this file, and also import other style files */

:root {
  --accent-color: #30c5ff;
  --primary-color: #5c946e;
  --secondary-color: #80c2af;
  --tertiary-color: #423852;
  --background-color: #2a2d34;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--tertiary-color);
  color: white;
}

.vertical-center {
  display: flex;
  justify-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.horizontal-center {
  margin: auto;
}
