/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --accent-color: #30C5FF;
    --primary-color: #5C946E;
    --secondary-color: #80C2AF;
    --tertiary-color: #A0DDE6;
    --background-color: #2A2D34;
  }
